/**********************************************************
| # FONT
**********************************************************/

/* paste here */


/**********************************************************
| # HEADER
**********************************************************/

header #navbar_logo-img {
    width: 50px;
    aspect-ratio: 1/1;
}

header .form-inline.d-flex.my-2.my-lg-0.mx-3 {
    gap:1rem;
}


/**********************************************************
| # MAIN
**********************************************************/

tbody th {
    font-weight:300;
}

.text-small {
    font-size: calc(8px + 1vh);
}

.separatore_esercizio {
    background-color: aqua;
    text-align: center;
    padding: 2rem 0;
}


/**********************************************************
| # FORM
**********************************************************/

selettore {
    
}


/**********************************************************
| # DEBUG
**********************************************************/

.debug {
    background-color: rgb(246, 255, 161);
    padding:10px;
    border: 1px dashed black;
}



